/* colors *********/
body {
  min-width: 320px;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: block;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.header__logo img {
  max-width: 168px;
  -o-object-fit: cover;
     object-fit: cover;
}

.head__back {
  position: absolute;
  left: 1rem;
}

.menu__image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 275px;
}

.menu__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  position: relative;
  top: -50px;
  border-radius: 30px 30px 0 0;
  padding: 15px 15px 30px 15px;
  margin-bottom: -50px;
}
.menu__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-left: 0.5rem;
  margin-bottom: -2rem;
}
.menu__restaurant {
  display: block;
  box-sizing: border-box;
  margin-block-start: 30px;
  margin-inline-start: -30px;
  margin-inline-end: 0;
  width: 75%;
  font-family: "Shrikhand", sans-serif;
  font-size: 27px;
  font-weight: 400;
  white-space: nowrap;
}
.menu__selection {
  display: block;
  box-sizing: border-box;
}
.menu__btn {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  padding-left: 5px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 10px 0;
  height: 70px;
}
.menu__food {
  margin-bottom: -4px;
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__description {
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__price {
  font-weight: 700;
  font-size: 15px;
}
.menu__text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  padding-left: 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__check {
  background-color: #99e2d0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  width: 4.3em;
  height: 100%;
  margin-right: -4.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  cursor: pointer;
}
.menu__btn:hover {
  cursor: pointer;
}
.menu__btn:hover > .menu__check {
  margin: 0;
  visibility: visible;
  transition: all 0.8s;
}
.menu__euro {
  width: 60px;
  height: 100%;
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.menu__order {
  display: flex;
  flex-direction: column;
  animation: apparition-item 0.75s;
  animation-fill-mode: forwards;
  opacity: 0;
  height: auto;
  width: 100%;
}
.menu__order:nth-child(1) {
  animation-delay: 0.25s;
}
.menu__order:nth-child(2) {
  animation-delay: 0.5s;
}
.menu__order:nth-child(3) {
  animation-delay: 0.75s;
}
.menu__ordertitle::after {
  border-bottom: 3px solid #99e2d0;
  content: "";
  display: block;
  width: 40px;
  height: 5px;
}
.menu__ordertitle {
  margin-bottom: 5px;
  padding-top: 25px;
  font-weight: 300;
  font-size: 16px;
}

.like__icon {
  position: absolute;
  cursor: pointer;
  font-size: 24px;
  top: 55px;
}

.like__icon--full {
  font-size: 24px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  top: 55px;
}

.like__icon--full:hover {
  opacity: 1;
  background-image: linear-gradient(#ff79da, #9356dc);
}

.commande {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.commande .info__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  max-width: 100%;
  height: 50px;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 2px 4px 15px #d2d2d2;
  cursor: pointer;
  background-image: linear-gradient(#ff79da, #9356dc);
  transition: background-color 300ms ease-out, box-shadow 300ms ease-out;
}
.commande .info__btn:hover {
  background-color: #b68de7;
  background-blend-mode: lighten;
  transform: scale(1.02);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: #353535;
  padding: 0.5rem 0 0.5rem 0;
}
.footer__title {
  color: white;
  font-family: "shrikhand", sans-serif;
  display: block;
  margin-left: 2rem;
  font-size: 19px;
  font-weight: 400;
}
.footer__list {
  list-style-type: none;
  display: block;
  box-sizing: border-box;
  gap: 0.5rem;
}
.footer__link {
  margin-bottom: 0.8rem;
}
.footer a {
  color: white;
}
.footer .fa-utensils {
  margin-right: 0.7rem;
}
.footer .fa-handshake-angle {
  margin-right: 0.4rem;
}

@keyframes apparition-item {
  from {
    opacity: 0%;
    transform: translateY(25px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}
@media screen and (min-width: 767px) {
  body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
  }
  .menu {
    margin-left: 15%;
    margin-right: 15%;
    max-width: 100%;
  }
  .menu__selection {
    margin-left: 10%;
    margin-right: 10%;
  }
  .menu__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1rem;
  }
  .menu__restaurant {
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .menu__image {
    height: 400px;
  }
  .like__icon {
    margin-left: -15%;
    margin-top: -0.4%;
  }
  .like__icon--full {
    margin-left: -15%;
    margin-top: -0.4%;
  }
  .footer {
    padding-left: 5%;
    padding-right: 5%;
  }
  .footer__list {
    margin-left: 4rem;
  }
  .footer__title {
    margin-left: 6.2rem;
  }
}
@media screen and (min-width: 1024px) {
  body {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  .header {
    height: 5rem;
  }
  .header img {
    max-width: 200px;
  }
  .menu {
    margin-left: 14%;
    margin-right: 14%;
    max-width: 100%;
  }
  .menu__selection {
    margin-left: 18%;
    margin-right: 18%;
  }
  .menu__image {
    height: 400px;
  }
  .menu__restaurant {
    width: 75%;
  }
  .footer {
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    height: 5rem;
    padding-top: 4rem;
    height: 100%;
  }
  .footer__list {
    display: flex;
    margin-right: -15rem;
    gap: 1.5rem;
    white-space: nowrap;
  }
  .footer__title {
    padding-bottom: 1rem;
    padding-left: 12rem;
    display: block;
  }
}/*# sourceMappingURL=styles1.css.map */