/* colors *********/
$main-color: #9356dc;
$second-color: #ff79da;
$third-color: #99e2d0;
$BgColorMap: #eaeaea;
$BgColorDes: #f6f6f6;
$foot-color: #353535;
$black-color: #000000; 
$new-color-bg: #99e2d0;
$new-color-txt: #008766;
